html {
	margin: 10px;
	padding: 0px;
}

body {
	margin: 20;
	padding: 5px;
}

h2, h3 {
	font-family: sans-serif;
	font-weight: bold;
	color: #09c;
}

#contact, #about, #education, #skill, #award-knowledge {
	border: 1px solid #09c;
	padding: 20px;
}

p {
	font-family: arial;
	font-weight: normal;
	font-style: italic;
}